
@{
    ViewBag.Title = "HW1";
}



<h2>HW1</h2>

<h6>姓名:<input type="text" name="name" value="" /></h6>
<h6>帳號:<input type="text" name="name" value="" /></h6>
<h6>密碼:<input type="text" name="name" value="" /></h6>

<input type="radio" name="gender" value="A"> Male
<input type="radio" name="gender" value="B"> Female
<br>
<br>

<p>
    興趣:
    <input type="checkbox" name="name" value="A">
    游泳
    <input type="checkbox" name="name" value="A">
    打球
    <input type="checkbox" name="name" value="A">
    賽跑
    <br>

    <br>

    <br>
</p>
<p>
    自我介紹:
<textarea name="message" rows="3" cols="20"></textarea>
</p>